html,
body {
  height: 100%;
}

body {
  @extend %roboto-400;
  font-size: 16px;
  line-height: 1.2;
  color: #1D2130;
  background-color: #FEFDFC;
}

.section {
  padding: 80px 0;
}

.bg-beige {
  background-color: #FCEDC6;
}

.bg-yellow {
  background-color: #F2C94C;
}


.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @extend %roboto-700;
  font-size: 50px;
  line-height: 1.2;

  &-center {
    text-align: center;
  }

  &-top {
    margin-top: 55px;
  }
}