@import "reset";
@import "vars";
@import "global";
@import "fonts";
@import "media";

.header {
  padding: 16px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: #0D6253;

  &__title {
    font-size: 48px;

  }

  &__text {
    letter-spacing: 1px;
  }
}

.nav {
  &__list{
    display: flex;
  }

  &__item {
    margin-left: 20px;
  }

  &__link {
    font-size: 24px;
    color: #1E1E1E;
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 16px 32px;
  margin-top: 32px;
  border: none;
  border-radius: 4px;
  background-color: #F2C94C;
}

.preview {
  display: flex;
  align-items: center;
  @extend %roboto-700;
  letter-spacing: 2px;

  &:before {
    content: '';
    width: 72px;
    height: 2px;
    margin: 2px 24px 0 0;
    background-color: #1D2130;
  }
}

.description {
  margin-top: 50px;
  color: #525560;

  &__text + &__text {
      margin-top: 16px;
  }
}

.categories {
  margin-top: 80px;

  &__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -25px;
  }

  &__item {
    width: calc(25% - 50px);
    color: #000000;
    text-align: center;
    margin: 0 25px;
    background: #FAFAFA;
    border-radius: 10px;

    &-info {
      padding: 20px 10px;
    }

    &-title {
      font-size: 20px;
    }

    &-description {
      font-size: 12px;
      margin-top: 15px;
    }
  }
}

.about {
  display: flex;

  &__left {
    width: 65%;
    padding-right: 50px;
  }

  &__right {
    width: 35%;

    &-image {
      width: 100%;
    }
  }
}