{% extends 'base.html.twig' %}
{% block title %}Animal{% endblock %}
{% block body %}
    <section class="section">
        <div class="container">
            <h3 class="title title-top">
                {{ animal.title }}
            </h3>
        </div>
    </section>
{% endblock %}