{% extends 'base.html.twig' %}
{% block title %}CREATE NEW animal!{% endblock %}
{% block body %}
        <section class="section">
                <div class="container">
                        {{ form(form) }}
                </div>
        </section>
{% endblock %}